<ion-view view-title="รายการใบแจ้งหนี้" ng-init="init()">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>

        <div class="row badge-buttonnoti">
            <div class="col"></div>
            <div class="col col-90">
                <div class="button-bar">
                    <a class="button button-outline button-positive {{waitforreview === true ? 'active' : ''}}" ng-click="waitforreview = true ;confirmed = false; waitforconfirmed = false ;  receipt = false ;">
                        รอตรวจสอบ
                        <span class="badge badge-assertive badge-notifyAccu">{{countWaitforreview || 0}}</span>
                        </a>
                    <a class="button button-outline button-positive {{waitforconfirmed === true ? 'active' : ''}}" ng-click="waitforconfirmed = true;waitforreview = false ;confirmed=false ; receipt = false ;">
                        รอยืนยัน
                        <span class="badge badge-assertive badge-notifyAccu">{{countWaitforconfirmed || 0}}</span>
                        </a>
                    <a class="button button-outline button-positive {{confirmed === true ? 'active' : ''}}" ng-click="confirmed = true; waitforreview= false ;waitforconfirmed=false ; receipt = false ;">
                        ยืนยันแล้ว
                        <span class="badge badge-assertive badge-notifyAccu">{{countConfirmed || 0}}</span>
                        </a>
                    <a class="button button-outline button-positive {{receipt === true ? 'active' : ''}}" ng-click="receipt = true; waitforreview= false ;waitforconfirmed=false ; confirmed = false ;">
                        ได้รับ
                        <span class="badge badge-assertive badge-notify">{{countReceipt || 0}}</span>
                        </a>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="ค้นหา..." ng-model="topsearch" aria-describedby="sizing-addon3">
        </div>

        <!--<ion-nav-buttons side="primary">
                <button class="button" ui-sref="app.tab.detailaccept">ย้อนกลับ</button>
            </ion-nav-buttons>-->

        <div ng-show="waitforreview" ng-repeat="data in listWaitforreview | filter:topsearch">
            <ion-item class='item item-avatar-left item-icon-right' ng-click="arDetail(data)">
                <img src={{data.namedeliver.profileImageURL}}>
                <h2>{{data.namedeliver.displayName}}</h2>
                <p style="margin-right: 20%">{{data.namedeliver.address.address}} {{data.namedeliver.address.subdistrict}}</p>
                <p style="margin-right: 20%">{{data.namedeliver.address.district}} {{data.namedeliver.address.province}} {{data.namedeliver.address.postcode}}</p>
                <p style="margin-right: 20%">{{data.namedeliver.address.tel}}</p>
                <p class="icon ion-right clock  ion-clock" am-time-ago="data.created"></p>
                <p class="icon ion-right amount">{{data.totalamount | number:0}} ฿</p>
            </ion-item>
        </div>

        <div ng-show="waitforconfirmed" ng-repeat="data in listWaitforconfirmed | filter:topsearch">
            <ion-item class='item item-avatar-left item-icon-right' ng-click="arDetail(data)">
                <img src={{data.namedeliver.profileImageURL}}>
                <h2>{{data.namedeliver.displayName}}</h2>
                <p style="margin-right: 20%">{{data.namedeliver.address.address}} {{data.namedeliver.address.subdistrict}}</p>
                <p style="margin-right: 20%">{{data.namedeliver.address.district}} {{data.namedeliver.address.province}} {{data.namedeliver.address.postcode}}</p>
                <p style="margin-right: 20%">{{data.namedeliver.address.tel}}</p>
                <p class="icon ion-right clock  ion-clock" am-time-ago="data.created"></p>
                <p class="icon ion-right amount">{{data.totalamount | number:0}} ฿</p>
            </ion-item>
        </div>

        <div ng-show="confirmed" ng-repeat="data in listConfirmed | filter:topsearch">
            <ion-item class='item item-avatar-left item-icon-right' ng-click="arDetail(data)">
                <img src={{data.namedeliver.profileImageURL}}>
                <h2>{{data.namedeliver.displayName}}</h2>
                <p style="margin-right: 20%">{{data.namedeliver.address.address}} {{data.namedeliver.address.subdistrict}}</p>
                <p style="margin-right: 20%">{{data.namedeliver.address.district}} {{data.namedeliver.address.province}} {{data.namedeliver.address.postcode}}</p>
                <p style="margin-right: 20%">{{data.namedeliver.address.tel}}</p>
                <p class="icon ion-right clock  ion-clock" am-time-ago="data.created"></p>
                <p class="icon ion-right amount">{{data.totalamount | number:0}} ฿</p>
            </ion-item>
        </div>

        <div ng-show="receipt" ng-repeat="data in listReceipt | filter:topsearch">
            <ion-item class='item item-avatar-left item-icon-right' ng-click="arDetail(data)">
                <img src={{data.namedeliver.profileImageURL}}>
                <h2>{{data.namedeliver.displayName}}</h2>
                <p style="margin-right: 20%">{{data.namedeliver.address.address}} {{data.namedeliver.address.subdistrict}}</p>
                <p style="margin-right: 20%">{{data.namedeliver.address.district}} {{data.namedeliver.address.province}} {{data.namedeliver.address.postcode}}</p>
                <p style="margin-right: 20%">{{data.namedeliver.address.tel}}</p>
                <p class="icon ion-right clock  ion-clock" am-time-ago="data.created"></p>
                <p class="icon ion-right amount">{{data.totalamount | number:0}} ฿</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>