.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.scroll{
  height: 100%
}
#map{
  height: 100%;
  width: 100%
}
#profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

#buttonBack {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #444;
}

/*chat*/

      .messages {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-content: center !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
    -webkit-box-align: center !important;
    -moz-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-bottom: -15px !important;
}

.messages .message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 10px !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.time {
    -webkit-box-flex: 0 !important;
    -moz-box-flex: 0 !important;
    -webkit-flex: 0 1 auto !important;
    -ms-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
    -webkit-align-self: auto !important;
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
    width: 120px !important;
    text-align: center !important;
    padding: 0 0 0 0 !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    -webkit-transform: translate3d(10px, 0, 0) !important;
    -moz-transform: translate3d(10px, 0, 0) !important;
    transform: translate3d(10px, 0, 0) !important;
}

.messages.other .message {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
}

.messages.other .message.slide-right {
    -webkit-transform: translate3d(120px, 0, 0) !important;
    -moz-transform: translate3d(120px, 0, 0) !important;
    transform: translate3d(120px, 0, 0) !important;
}

.messages.other span1 {
    color: black !important;
    background-color: #007AFF !important;
    color: white !important;
}

span1 {
    background: #C7C7CC !important;
    display: inline-block !important;
    color: black !important;
    padding: 8px !important;
    border-radius: 10px !important;
    text-align: left !important;
    max-width: 180px !important;
}

.badge-buttonnoti{
    margin-top: 15px
}
.badge-notify{
   position: fixed !important;
   top: 0px !important;
}

/*.badge-notify-menu{
   position: fixed !important;
   top: 2px !important;
   margin-left: 15px !important;
}*/

.badge-notify-ios{
   position: fixed !important;
   top: 15px !important;
}

.badge-notify-android{
   position: fixed !important;
   top: 0px !important;
}

.badge-notifyAccu{
   position: fixed !important;
   top: 0px !important;
   margin-left: -30px !important;
}

.fixProfileimg {
    margin-top: -40px;
}

.profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 60%;
        /*height: 50%;*/
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
.tapbuttonNone {
    border: none;
}

.fixProfilerow {
    margin-top: 20px;
}

/*.profile-image {
        display: block;
        border-radius: 100%;
        border: 1px solid #fff;
        width: 60%;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}*/

.tapbuttonNone {
    border: none;
}

.profile-image {
        position: absolute;
        /*position: fixed;*/
        left: 16px;
        max-width: 50px;
        max-height: 50px;
        width: 50%;
        height: 50%;
        border-radius: 50%;
      }
