.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.scroll{
  height: 100%
}
#map{
  height: 100%;
  width: 100%
}
#profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

#buttonBack {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #444;
}

/*chat*/

      .messages {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-content: center !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
    -webkit-box-align: center !important;
    -moz-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-bottom: -15px !important;
}

.messages .message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 10px !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.time {
    -webkit-box-flex: 0 !important;
    -moz-box-flex: 0 !important;
    -webkit-flex: 0 1 auto !important;
    -ms-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
    -webkit-align-self: auto !important;
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
    width: 120px !important;
    text-align: center !important;
    padding: 0 0 0 0 !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    -webkit-transform: translate3d(10px, 0, 0) !important;
    -moz-transform: translate3d(10px, 0, 0) !important;
    transform: translate3d(10px, 0, 0) !important;
}

.messages.other .message {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
}

.messages.other .message.slide-right {
    -webkit-transform: translate3d(120px, 0, 0) !important;
    -moz-transform: translate3d(120px, 0, 0) !important;
    transform: translate3d(120px, 0, 0) !important;
}

.messages.other span1 {
    color: black !important;
    background-color: #007AFF !important;
    color: white !important;
}

span1 {
    background: #C7C7CC !important;
    display: inline-block !important;
    color: black !important;
    padding: 8px !important;
    border-radius: 10px !important;
    text-align: left !important;
    max-width: 180px !important;
}

.badge-buttonnoti{
    margin-top: 15px
}
.badge-notify{
   position: fixed !important;
   top: 0px !important;
}

/*.badge-notify-menu{
   position: fixed !important;
   top: 2px !important;
   margin-left: 15px !important;
}*/

.badge-notify-ios{
   position: fixed !important;
   top: 15px !important;
}

.badge-notify-android{
   position: fixed !important;
   top: 0px !important;
}

.badge-notifyAccu{
   position: fixed !important;
   top: 0px !important;
   margin-left: -30px !important;
}

.fixProfileimg {
    margin-top: -40px;
}

.profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 60%;
        /*height: 50%;*/
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
.tapbuttonNone {
    border: none;
}

.fixProfilerow {
    margin-top: 20px;
}

/*.profile-image {
        display: block;
        border-radius: 100%;
        border: 1px solid #fff;
        width: 60%;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}*/

.tapbuttonNone {
    border: none;
}

.profile-image {
        position: absolute;
        /*position: fixed;*/
        left: 16px;
        max-width: 50px;
        max-height: 50px;
        width: 50%;
        height: 50%;
        border-radius: 50%;
}

.show-hide-input
  {
    display: inherit;
    width: 100%;
  }
.topsearchinput {
    width: 100%
  }
.toggle-view-anchor {
    color: #cccccc !important;
    display: block;
    font-size: 24px;
    width: 45px;
    text-align: center;
    font-weight: 500;
}

.badge-cart {
    margin-left: -10px !important;
}

.shop-products-narrow-cards-outer {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
}

.shop-products-narrow-cards-outer .shop-product-narrow-card {
    padding: 0px;
    margin-bottom: 10px;
}

.shop-products-narrow-cards-outer .shop-product-narrow-card:nth-child(odd) {
    padding-right: 5px;
}

.shop-products-narrow-cards-outer .shop-product-narrow-card:nth-child(even) {
    padding-left: 5px;
}

.shop-products-narrow-cards-outer .shop-product-narrow-card .card {
    margin: 0px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(136, 136, 136, 0.3);
}

.shop-products-narrow-cards-outer .shop-product-narrow-card .card .item.item-body {
    padding: 10px;
}

.shop-products-narrow-cards-outer .shop-product-narrow-card .card .item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.shop-products-narrow-cards-outer .shop-product-narrow-card .card .item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.shop-products-narrow-cards-outer .shop-product-narrow-card .card-title {
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    color: #626262;
}

.shop-products-narrow-cards-outer .shop-product-narrow-card .card-description {
    color: #959595;
    font-size: 12px;
    margin: 2px 0px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.shop-products-narrow-cards-outer.shop-product-cards-scroller {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    padding: 0px 5px;
    /*overflow: auto;*/
}

.shop-products-narrow-cards-outer.shop-product-cards-scroller .shop-product-narrow-card {
    padding: 0px 5px;
}

.shop-products-narrow-cards-outer.shop-product-cards-scroller .card {
    overflow: inherit;
}

.width-200 {
    height: 200px !important;
}

.button-thamma {
    border-color: transparent;
    background-color: #f8ac59 !important;
    color: #fff;
}

.empty-cart .no-products {
    color: #aaaaaa;
    font-size: 16px;
    font-weight: 400;
}